@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset CSS
--------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    font-family: "Noto Sans KR", sans-serif;
    color:#333232;
    background-color: #e08279;
    letter-spacing: -0.5px;
}

/* Header CSS
--------------------------------------- */
.hamburger-button{
    width: 50px;
    height: 100%;
    cursor: pointer;
    padding:8px 20px 8px 0px;
    border-right: 1px solid#d2d2d2;
    box-sizing: border-box;
}

.hamburger-button > span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height:5px;
    border-bottom:4px solid#e08279;
}

.header-home{
    margin-left: 20px;
}

.header-home .home-link{
    color:#e08279;
    font-weight: bold;
    font-size: 20px;
}

.header-profile{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gnb-list{
    padding-top:80px;
}

.gnb-list li {
    margin-bottom:20px;
}

.gnb-list li a {
    font-size:20px;
    color:#e08279;
}

#open-gnb{
    left: 0px;
}

/* Default Profile Thumnail CSS
--------------------------------------- */
.default-profile-img{
    width: 100%;
}

/* Default Button CSS
--------------------------------------- */
.default-button{
    font-weight: bold;
    padding: 13px 15px;
}

/* Side Banner Github CSS
--------------------------------------- */
.move-project {
    position:absolute;
    bottom:10px;
    left:10px;
    display: block;
    width: 80px;
}

.move-project img {
    width: 100%;
}

/* Main Banner Button CSS
--------------------------------------- */
.move-guide-button{
    position: absolute;
    left:50%;
    margin-left: -97px;
    top: 56%;
    font-size: 14px;
    padding:8px 15px;
}